*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

:root {
    --primary-gradient: linear-gradient(to bottom right, lightblue, lightgreen);
    --secondary-gradient: linear-gradient(to right, rgb(255, 155, 55), rgb(255, 200, 80));
}

body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    background: var(--primary-gradient);
    font-family: sans-serif;
}

main {
    margin: 50px auto;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin: 10px;
    /* border: solid black 1px; */
}

section.input {
    margin: 15px auto;
    display: flex;
    flex-direction: row;
}

.main-input {
    height: 46px;
    width: 300px;
    font-size: large;
    border: none;
    padding-left: 10px;
}

.main-button{
    border: none;
    width: 120px;
    background-color: rgb(0, 0, 80);
    color: white;
    font-size: large;
}

.list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 14px 20px;
    margin: 5px auto;
    list-style: none;
    width: 420px;
    background: var(--secondary-gradient);
    font-size: large;
    font-weight: bold;
    animation: 0.3s ease-in-out;
}

i {
    background-color: white;
    border-radius: 3px;
    padding: 4px 8px;
}

/* animation for adding items */
@keyframes slideIn {
    from {
        opacity: 0;
        transform: rotateX(60deg) translateY(-10px);
    }
    to{
        opacity: 1;
        transform: rotateX(0deg) translateY(0px);
    }
}

/* animation for deleting items */
.slideOut{
    transform: rotateX(60deg) translateY(-10px);
    opacity: 0;
    transition: 1s;
}